.app {
  display: flex;
  height: 100vh;
}

.textarea {
  width: 50%;
  padding: 20px;
  font-size: 16px;
  border: none;
  outline: none;
  resize: none;
}

.preview {
  width: 50%;
  padding: 20px;
  background-color: #f0f2f5;
}

